
<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
        Copyrights &copy; 2014 / @DateTime.Now.Year.ToString() <a href="http://eaditdeveloper.com.br/" class="color-blue strong" target="_blank">EAD IT Developer</a>. Todos os direitos reservados.
    </p>
    <p>
        &nbsp; <email dominio="gmail.com">contato</email>  -  <email>contato</email>   
    </p>

</div>
<!-- End #footer  -->