
    <head>
        <meta charset="utf-8">
        <title>@ViewData["Title"] - Medical Management - Sys</title>
        <!-- Mobile specific metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
        <!-- Force IE9 to render in normal mode -->
        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="application-name" content="" />
        <!-- Import google fonts - Heading first/ text second -->
        @*<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>*@

        @* ======================================================== *@

        <!-- Css files -->
        <!-- Icons -->
        <link href="/bundle/core.min.css" rel="stylesheet" />


        <!--/ Carlos BoxInit  -->
        <link href="/Scripts/cooperchip/boxinit/css/style.css" rel="stylesheet" />
        <!--/ Carlos BoxInit  -->
        @* ======================================================== *@


        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/img/ico/apple-touch-icon-57-precomposed.png">
        <link rel="icon" href="/img/ico/favicon.ico" type="image/png">

        <meta name="msapplication-TileColor" content="#3399cc" />
    </head>


