<!--  .sidebar-panel -->
<div class="sidebar-panel">
    <h5 class="sidebar-panel-title">Server stats</h5>
    <div class="sidebar-panel-content">
        <div class="sidebar-stat mb10">
            <p class="color-white mb5 mt5">
                <i class="fa fa-hdd-o mr5"></i> Disk Space <span class="pull-right small">30%</span>
            </p>
            <div class="progress flat transparent progress-bar-xs">
                <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
            </div>
            <span class="dib s12 mt5 per100 text-center">3001.56 / 10000 MB</span>
        </div>
        <div class="sidebar-stat">
            <p class="color-white mb5 mt5">
                <i class="glyphicon glyphicon-transfer mr5"></i> Bandwidth Transfer <span class="pull-right small">78%</span>
            </p>
            <div class="progress flat transparent progress-bar-xs">
                <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;"></div>
            </div>
            <span class="dib s12 mb10 mt5 per100 text-center">87565.12 / 120000 MB</span>
        </div>
    </div>
</div>
