
@inject Cooperchip.ITDeveloper.Domain.Interfaces.Helpers.IUserInContext _userInContext
<!-- .page-navbar -->
<div id="header" class="page-navbar">
    <!-- .navbar-brand -->
    <a href="#" class="navbar-brand hidden-xs hidden-sm">
        <img src="/img/logo.png" class="logo hidden-xs" alt="Dynamic logo">
        <img src="/img/logosm.png" class="logo-sm hidden-lg hidden-md" alt="Dynamic logo">
    </a>
    <!-- / navbar-brand -->
    <!-- .no-collapse -->
    <div id="navbar-no-collapse" class="navbar-no-collapse">
        <!-- top left nav -->
        <ul class="nav navbar-nav">
            <li class="toggle-sidebar">
                <a href="#">
                    <i class="fa fa-reorder"></i>
                    <span class="sr-only">Collapse sidebar</span>
                </a>
            </li>
            <li>
                <a href="#" class="reset-layout tipB" title="Reset panel position for this page"><i class="fa fa-history"></i></a>
            </li>
        </ul>
        <!-- / top left nav -->
        <!-- top right nav -->
        <ul class="nav navbar-nav navbar-right">

            <li>
                <span style="margin-right: 10px;">@System.Globalization.CultureInfo.CurrentCulture</span>
            </li>

            <li class="dropdown">

                <vc:notify-events></vc:notify-events>

            </li>

            @*<vc:chamada-medicas></vc:chamada-medicas>*@


            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                    <span class="sr-only">Settings</span>
                </a>
                <ul class="dropdown-menu dropdown-form dynamic-settings right" role="menu">
                    <li>
                        <a href="#" class="dropdown-menu-header">Template settings</a>
                    </li>
                    <li>
                        <div class="toggle-custom">
                            <label class="toggle" data-on="ON" data-off="OFF">
                                <input type="checkbox" id="fixed-header-toggle" name="fixed-header-toggle" checked>
                                <span class="button-checkbox"></span>
                            </label>
                            <label for="fixed-header-toggle">Fixed header</label>
                        </div>
                    </li>
                    <li>
                        <div class="toggle-custom">
                            <label class="toggle" data-on="ON" data-off="OFF">
                                <input type="checkbox" id="fixed-left-sidebar" name="fixed-left-sidebar" checked>
                                <span class="button-checkbox"></span>
                            </label>
                            <label for="fixed-left-sidebar">Fixed Left Sidebar</label>
                        </div>
                    </li>
                    <li>
                        <div class="toggle-custom">
                            <label class="toggle" data-on="ON" data-off="OFF">
                                <input type="checkbox" id="fixed-right-sidebar" name="fixed-right-sidebar" checked>
                                <span class="button-checkbox"></span>
                            </label>
                            <label for="fixed-right-sidebar">Fixed Right Sidebar</label>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" data-toggle="dropdown"><i class="fa fa-user"></i><span class="sr-only">Gerenciamento de Usuário</span></a>
                @if (_userInContext.IsAuthenticated())
                {
                    <ul class="dropdown-menu right dropdown-notification" role="menu">
                        <li><a href="#" class="dropdown-menu-header">Gerenciamento de Usuário</a></li>

                        <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Gerenciamento de Usuário" style="text-decoration: none;"><i class="fa fa-edit"></i> @_userInContext.GetUserApelido()</a></li>

                        <li><a asp-area="Identity" asp-page="/Account/Logout" title="Logout" style="text-decoration: none;"><i class="fa fa-power-off"></i> Sair</a></li>

                        <li><a href="#" class="view-all">Visualizar todos <i class="l-arrows-right"></i> </a></li>
                    </ul>
                }
                else
                {
                    <ul class="dropdown-menu right dropdown-notification" role="menu">
                        <li><a href="#" class="dropdown-menu-header">Gerenciamento de Usuário</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Register"><i class="l-basic-life-buoy"></i> Registre-se</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Login"><i class="l-basic-server2"></i> Fazer Login</a></li>
                    </ul>
                }
            </li>

            <li>
                <a id="toggle-right-sidebar" href="#" class="tipB" title="Toggle right sidebar">
                    <i class="l-software-layout-sidebar-right"></i>
                    <span class="sr-only">Toggle right sidebar</span>
                </a>
            </li>
        </ul>
        <!-- / top right nav -->
    </div>
    <!-- / collapse -->
</div>
<!-- / page-navbar -->