
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!-- .page-navbar -->
<div id="header" class="page-navbar">
    <!-- .navbar-brand -->
    <a href="#" class="navbar-brand hidden-xs hidden-sm">
        <img src="/img/logo.png" class="logo hidden-xs" alt="Dynamic logo">
        <img src="/img/logosm.png" class="logo-sm hidden-lg hidden-md" alt="Dynamic logo">
    </a>
    <!-- / navbar-brand -->
    <!-- .no-collapse -->
    <div id="navbar-no-collapse" class="navbar-no-collapse">
        <!-- top left nav -->
        <ul class="nav navbar-nav">
            <li class="toggle-sidebar">
                <a href="#">
                    <i class="fa fa-reorder"></i>
                    <span class="sr-only">Collapse sidebar</span>
                </a>
            </li>
            <li>
                <a href="#" class="reset-layout tipB" title="Reset panel position for this page"><i class="fa fa-history"></i></a>
            </li>
        </ul>
        <!-- / top left nav -->
        <!-- top right nav -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="sr-only">Notifications</span>
                    <span class="badge badge-danger">6</span>
                </a>
                <ul class="dropdown-menu right dropdown-notification" role="menu">
                    <li>
                        <a href="#" class="dropdown-menu-header">Notifications</a>
                    </li>
                    <li>
                        <a href="#"><i class="l-basic-life-buoy"></i> 2 support request</a>
                    </li>
                    <li>
                        <a href="#"><i class="l-basic-gear"></i> Settings is changed</a>
                    </li>
                    <li>
                        <a href="#"><i class="l-weather-lightning"></i> 5 min server downtime</a>
                    </li>
                    <li>
                        <a href="#"><i class="l-basic-server2"></i> Databse backup is complete</a>
                    </li>
                    <li>
                        <a href="#"><i class="l-basic-lightbulb"></i> SuggeElson push 1 commit</a>
                    </li>
                    <li>
                        <a href="#" class="view-all">View all <i class="l-arrows-right"></i> </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                    <span class="sr-only">Settings</span>
                </a>
                <ul class="dropdown-menu dropdown-form dynamic-settings right" role="menu">
                    <li>
                        <a href="#" class="dropdown-menu-header">Template settings</a>
                    </li>
                    <li>
                        <div class="toggle-custom">
                            <label class="toggle" data-on="ON" data-off="OFF">
                                <input type="checkbox" id="fixed-header-toggle" name="fixed-header-toggle" checked>
                                <span class="button-checkbox"></span>
                            </label>
                            <label for="fixed-header-toggle">Fixed header</label>
                        </div>
                    </li>
                    <li>
                        <div class="toggle-custom">
                            <label class="toggle" data-on="ON" data-off="OFF">
                                <input type="checkbox" id="fixed-left-sidebar" name="fixed-left-sidebar" checked>
                                <span class="button-checkbox"></span>
                            </label>
                            <label for="fixed-left-sidebar">Fixed Left Sidebar</label>
                        </div>
                    </li>
                    <li>
                        <div class="toggle-custom">
                            <label class="toggle" data-on="ON" data-off="OFF">
                                <input type="checkbox" id="fixed-right-sidebar" name="fixed-right-sidebar" checked>
                                <span class="button-checkbox"></span>
                            </label>
                            <label for="fixed-right-sidebar">Fixed Right Sidebar</label>
                        </div>
                    </li>
                </ul>
            </li>



            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                    <span class="sr-only">Gerenciamento de Usuário</span>
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="dropdown-menu right dropdown-notification" role="menu">
                        <li>
                            <a href="#" class="dropdown-menu-header">Gerenciamento de Usuário</a>
                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Usuário"><i class="l-basic-life-buoy"></i> @UserManager.GetUserName(User)</a>
                        </li>
                        <form style="margin: 6px;" asp-area="Identity" asp-page="/Account/Logout" 
                              asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
                            <li>
                                <button type="submit" class="btn btn-link text-left" style="align-content: flex-start; text-decoration: none; text-decoration-color: darkgray;"><i class="l-basic-signs"></i> Sair</button>
                            </li>
                        </form>
                        <li>
                            <a href="#" class="view-all">Visualizar todos <i class="l-arrows-right"></i> </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="dropdown-menu right dropdown-notification" role="menu">
                        <li>
                            <a href="#" class="dropdown-menu-header">Gerenciamento de Usuário</a>
                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Register"><i class="l-basic-life-buoy"></i> Registre-se</a>
                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Login"><i class="l-basic-server2"></i> Fazer Login</a>
                        </li>
                    </ul>
                }

            </li>



            <li>
                <a id="toggle-right-sidebar" href="#" class="tipB" title="Toggle right sidebar">
                    <i class="l-software-layout-sidebar-right"></i>
                    <span class="sr-only">Toggle right sidebar</span>
                </a>
            </li>
        </ul>
        <!-- / top right nav -->
    </div>
    <!-- / collapse -->
</div>
<!-- / page-navbar -->