
@inject Cooperchip.ITDeveloper.Domain.Interfaces.IUserInContext _userInContext

<div class="sidebar-panel"><h5 class="sidebar-panel-title">Profile</h5></div>

<div class="user-info clearfix">

    <div id="imgProfie">
        @if (_userInContext.IsAuthenticated() && !string.IsNullOrEmpty(_userInContext.GetUserImgProfilePath()))
        {
            <img src="/uploads/@_userInContext.GetUserImgProfilePath()" alt="Imagem de Perfil" class="cooperchipCicleProfile">
        }
        else
        {
            <img src="/img/avatars/foto-padrao.jpg" alt="Imagem de Perfil" class="cooperchipCicleProfile">
        }
    </div>


    <span class="name">ITDeveloper</span>
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs">
            <i class="l-basic-gear"></i>
        </button>
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            settings <span class="caret"></span>
        </button>

        <ul class="dropdown-menu right" role="menu">

            @if (_userInContext.IsAuthenticated())
            {
                <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="User Profile"><i class="fa fa-edit"></i> Editar Perfil</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Logout" title="Sair"><i class="fa fa-power-off"></i> Sair</a></li>
            }
            else
            {
                <li><a asp-area="Identity" asp-page="/Account/Login" title="Login"><i class="fa fa-edit"></i> Entrar</a></li>
            }

            <li><a href="#"><i class="fa fa-edit"></i>Outra coisa</a></li>
            <li><a href="#"><i class="fa fa-money"></i>Mais Algo</a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i>Deposits</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-power-off"></i>Mais uma</a></li>
        </ul>
    </div>
</div>
<!--  .sidebar-panel -->
