
@{
    ViewData["Title"] = "Index";
}

<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panelClose panelRefresh">
        <div class="panel-heading">
            <h3 class="panel-title">Produtos</h3>
        </div>

        <div class="panel-body">


            <p>
                Porque é que o usamos?
                É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma página quando analisa a sua mancha gráfica. Logo, o uso de Lorem Ipsum leva a uma distribuição mais ou menos normal de letras, ao contrário do uso de "Conteúdo aqui, conteúdo aqui", tornando-o texto legível. Muitas ferramentas de publicação electrónica e editores de páginas web usam actualmente o Lorem Ipsum como o modelo de texto usado por omissão, e uma pesquisa por "lorem ipsum" irá encontrar muitos websites ainda na sua infância. Várias versões têm evoluído ao longo dos anos, por vezes por acidente, por vezes propositadamente (como no caso do humor).
            </p>

        </div>
    </div>
</div>

