@model Cooperchip.ITDeveloper.Domain.Entities.Generico

@{
    ViewBag.Title = "Exclusão de Genérico";
}


@{ Layout = null; }

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">MedicalManagement-Sys - @ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">

                <div class="alert alert-danger">
                    <h4>Confirma a exclusão do Genérico: @Model.Nome.ToUpper()</h4>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Sim" class="btn btn-danger" />
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
