
@inject Cooperchip.ITDeveloper.Domain.Interfaces.IUserInContext _userInContext

<div class="wrapper">
    <br />
    @*<div class="row text-md-center text-sm-center text-xs-center">*@
    <div class="row text-center">



        <div class="col-md-3 col-sm-3 col-sx-12" style="padding-bottom: 15px;">
                <div class="card card-inverse text-md-center text-sm-center text-xs-center">
                    <img src="~/images/dashboard.png" class="card-img-top" style="width: 100%; height: auto" />
                    <div class="card-img-overlay">

                        @if (_userInContext.IsAuthenticated() && _userInContext.IsInRole("Admin"))
                        {

                            <div style="text-align: center">
                                <a asp-controller="Home" asp-action="Dashboard" style="text-decoration: none; color: #ed5353; font-size: 16px;">
                                    <h4 class="card-title">.:: Entrar-Admin ::.</h4>
                                </a>
                            </div>

                        }
                        else
                        {
                            <div style="text-align: center">
                                <a asp-controller="Home" asp-action="BoxInit" style="text-decoration: none; color: #ed5353; font-size: 16px;">
                                    <h4 class="card-title">.:: Entrar-Comum ::.</h4>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>

        @*@{ 
            if (_userInContext.IsAuthenticated() && _userInContext.IsInRole("Admin"))
            {
                <index-home titulo=".:: Entrar-Admin ::." imagem="dashboard.png" controlador="Home" visualizacao="Dashboard"></index-home>
            }
            else
            {
                <index-home titulo=".:: Entrar-Comum ::." imagem="dashboard.png" controlador="Home" visualizacao="BoxInit"></index-home>
            }
        }*@

        <index-home titulo="Registro de Pacientes" imagem="atualizacao_cadastral.png" controlador="Home" visualizacao="Paciente"></index-home>
        <index-home titulo="Agenda" imagem="calendar.png" controlador="AgendaCalendar" visualizacao="Index"></index-home>
        <index-home titulo="Chamada Médico" imagem="examesdeimagens.png" controlador="Home" visualizacao="ChamadaMedico"></index-home>

    </div>

    <div class="row text-center">
        <index-home titulo="Prontuários" imagem="evolucao.png" controlador="Prontuario" visualizacao="ListaProntuario"></index-home>
        <index-home titulo="Unidade Geográfica" imagem="prescricao.png" controlador="UniGeog" visualizacao="Listar"></index-home>
        <index-home titulo="Base de Conhecimento" imagem="sinais_vitais.png" controlador="Home" visualizacao="BaseDeConhecimento"></index-home>
        <index-home titulo="Mural de Avisos" imagem="mural.png" controlador="Mural" visualizacao="Index"></index-home>
    </div>

    <div class="row text-center">
        <index-home titulo="Int. Medicamentosas" imagem="interacao_medicamentosa.png" controlador="Home" visualizacao="InteracaoMedicamentosa"></index-home>
        <index-home titulo="Controle de Acesso" imagem="niveldeacesso.png" controlador="RolesAdmin" visualizacao="Index"></index-home>
        <index-home titulo="Adm de Usuários" imagem="users.png" controlador="UsersAdmin" visualizacao="Index"></index-home>
        <index-home titulo="Configurações" imagem="config.png" controlador="Configuracoes" visualizacao="Index"></index-home>

    </div>
</div>