


@{
    ViewBag.Title = "Tela Inicial do Sistema";
}


<main>
    <div class="wrapper">
        <div class="block">
            <div class="block-img">
                <img src="/images/boxiesinit/bximedicamentosa.png" alt="Interação Medicamentosa">
            </div>
            <div class="block-desc">
                Interação Medicamentosa. Você precisa saber o que é.
            </div>
            <div class="block-link">
                <a href="#">Ver mais</a>
            </div>
        </div>

        <div class="block">
            <div class="block-img">
                <img src="/images/boxiesinit/eximagem.png" alt="Exame de Imagem">
            </div>
            <div class="block-desc">
                Exame de Imagem. No momento em que estamos poucas coisas são tão precisas. Una a eficiência médica aos dados e laudos precisos.
            </div>
            <div class="block-link">
                <a href="#">Ver mais</a>
            </div>
        </div>

        <div class="block">
            <div class="block-img">
                <img src="/images/boxiesinit/cadastropaciente.png" alt="Cadastro de Pacientes">

            </div>
            <div class="block-desc">
                Um cadastro de Pacientes preciso e bem detalhado pode ajuda a salvar vidas.
            </div>
            <div class="block-link">
                <a href="#">Ver mais</a>
            </div>
        </div>

        <div class="block">
            <div class="block-img">
                <img src="/images/boxiesinit/dashboard.png" alt="Dashboard">
            </div>
            <div class="block-desc">
                Dashboard. O seu diário de bordo. Algo que todo gestor precisa. Informações sintéticas e gráficos evolutivos.
            </div>
            <div class="block-link">
                <a href="#">Ver mais</a>
            </div>
        </div>

        <div class="block">
            <div class="block-img">
                <img src="/images/boxiesinit/prontuarioeletronico.png" alt="Prontuário Eletrônico">
            </div>
            <div class="block-desc">
                Prontuário Eletrônico. Se você não utiliza em sua gestão, você precisa começar já!
            </div>
            <div class="block-link">
                <a href="#">Ver mais</a>
            </div>
        </div>

        <div class="block">
            <div class="block-img">
                <img src="/images/boxiesinit/diagnosticopreciso.png" alt="Xamarin">
            </div>
            <div class="block-desc">
                Diagnóstico precisos e otimização de tempo é algo imprescindível. Pratique a medicina e deixe que nosso sistema gerencie a burocracia e, de quebra, lhe dê tempo...
            </div>
            <div class="block-link">
                <a href="#">Ver mais</a>
            </div>
        </div>
    </div>
</main>

