
@model Cooperchip.ITDeveloper.Mvc.ViewModels.ContatoViewModel

@{
    ViewData["Title"] = "Fale Conosco";
}

<vc:cabecalho titulo="Fale Concosco" subtitulo="Contate-nos com suas sugestões, críticas e solicitações"></vc:cabecalho>

<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Fale Consoco</h3>
    </div>
    <div class="panel panel-body panel-info">
        <div class="col-md-4">
            <form asp-controller="Home" asp-action="Contato" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>


                <partial name="_contato" />


                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-success" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Voltar para a Index</a>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/bundle/dashboard.min.js"></script>
}