@{
    ViewData["Title"] = "Privacy Policy";
}

    <vc:cabecalho titulo="Medical Management-Sys / Política de Privacidade" subtitulo="Módulo de Administração de Pacientes">

    </vc:cabecalho>

<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panelClose panelRefresh">
            <div class="panel-heading">
                <h3 class="panel-title">Política de Privacidade</h3>
            </div>
            
            <div class="panel-body">

                <h3>O que é o Lorem Ipsum?</h3>
                <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.</p>

            </div>

        </div>
</div>

