@import (reference) "ashobiz.base.less";
/* A 46 */
.a-46{	
	max-width:350px;
	margin:15px auto;
	padding:5px;
	text-align:center; 
	background:#fff;
	border:1px solid #ddd;
	box-shadow:2px 2px 0px 1px rgba(0,0,0,0.1);
	border-radius:4px;
	.a-46-i{
		position: relative;
		margin-bottom:70px;
		img:first-child{
			border-radius:3px;
		}
		img:last-child{
			position:absolute;
			left:50%;
			bottom:-60px;
			max-width:150px;
			margin:0 auto;
			margin-left:-75px;
			border:5px solid #fff;
			border-radius:100%;
			box-shadow:0px 0px 10px rgba(0,0,0,0.2);
		}	
	}
	h3{
		font-size:17px;
		line-height:27px;
		margin:12px 0;
		color:#666;
		a,a:hover,a:focus{
			color:#666;
			text-decoration:none;
		}
		span{
			display:block;
			margin-top:2px;
			font-size:14px;
			line-height:24px;
			font-weight:normal;
			color:#888;
		}
	}
	.a-46-s{
		margin-bottom:10px;
	}
}