@import (reference) "ashobiz.base.less";
/* A 41 */
.a-41{
	max-width:270px;
	border:1px solid #ddd;
	box-shadow:2px 2px 0px 1px rgba(0,0,0,0.07);
	border-radius:6px;
	background:#fff;
	margin:20px auto;
	padding:10px;
	img{
		border-radius:6px;
	}
	h2{
		text-align:center;
		color:#555;
		font-size:18px;
		line-height:30px;
		margin:12px 0px;
		a,a:hover,a:focus{
			color:#555;
			text-decoration:none;
		}
		span{
			display:block;
			color:#888;
			margin-top:2px;
			font-size:14px;
			line-height:24px;
			text-transform:lowercase;
			font-weight:normal;
		}
	}
	.a-41-f{
		margin:15px 0px;
		text-align:center;
	}
	.a-41-s{
		margin:15px 0px;
		padding:15px 15px 10px 15px;
		background:#fcfcfc;
		border-radius:5px;
		border:1px solid #eee;
		h4{
			margin:0px;
			font-size:13px;
			line-height:23px;
		}
		.a-41-b{
			margin:35px 0px 20px 0px;
			height:9px;
			background:#f3f3f3;
			border-radius:4px;
			box-shadow:inset 0px 0px 1px rgba(0,0,0,0.5);
			position:relative;
			height:7px;
			margin-top:10px;
			margin-bottom:15px;
			.a-41-bar{
				position:absolute;
				top:0px;
				left:0px;
				border-radius:4px;
				border-top-right-radius:0px;
				border-bottom-right-radius:0px;
				height:100%;
				text-align:right;
			}
		}
	}
	p{
		font-size:14px;
		line-height:28px;
		color:#777;
		margin:10px 0px;
	}
}