@import (reference) "ashobiz.base.less";
/* A 15 */
.a-15{
	max-width:300px;
	height: 300px;
	background:#fff;
	margin:20px auto;
	position:relative;
	overflow:hidden;
    transition: all 0.5s;
		border:1px solid rgba(0,0,0,0.1);
	b{
		text-transform:uppercase;
		font-size:14px;
		line-height:28px;
		display:block;
		color:@black;
	}
	strong{
		font-size:14px;
		line-height:2.4;
		display:block;
		font-weight:normal;
		color:#777;
	}
	.a-15-o{
		box-shadow:inset 0px 0px 25px rgba(0,0,0,0.07);
		background:#fff;
		position:absolute;
		.transform(translateY(0px));
		padding:50px 30px;
		height:300px;
		transition: all 0.5s;
	}
	.a-15-t{
		box-shadow:inset 0px 0px 25px rgba(0,0,0,0.07);
		position:absolute;
		.transform(translateY(500px));
		padding:40px 30px;
		transition: all 0.5s;
		height:300px;
		font-size:14px;
		b,strong{
			color:#fff;
		}
		> a{
			display:inline-block;
			margin-top:10px;
			padding:2px 15px;
			background:transparent;
			border:2px solid #fff;
			border-radius:0px;
			font-weight:bold;
			text-transform:uppercase;
			font-size:14px;
			color:#fff;
			transition:0.5s;
			&:hover,&:focus{
				color:#666;
				text-decoration:none;
				background:#fff;
			}
		}
	}
	&:hover .a-15-o{
		.transform(translateY(-500px));
	}
	&:hover .a-15-t{
		.transform(translateY(0px));
	}
} 