@import (reference) "ashobiz.base.less";
/* A 74 */
.a-74{
	margin:20px auto;
	max-width:350px;
	position:relative;
	box-shadow:2px 2px 0px 1px rgba(0,0,0,0.05);
	.a-74-m{
		padding:20px;
		color:#fff;
		position:relative;
		h5{
			position:absolute;
			height:28px;
			line-height:28px;
			background:#555;
			display:inline-block;
			top:-12px;
			margin:0px;
			padding:0px 12px;
			font-weight:normal;
			text-transform:uppercase;
			font-size:11px;
		}
		h3{
			margin:0px;
			margin-bottom:15px;
			font-size:27px;
			line-height:42px;
			font-weight:lighter;
			span{
				display:inline-block;
				font-size:25px;
				line-height:35px;
				margin-left:10px;
				font-weight:normal;
				text-transform:uppercase;
				position:relative;
				top:-6px;
			}			
		}
		h4{
			display:inline-block;
			margin:0px;
			font-size:14px;
			line-height:30px;
			font-weight:normal;
			i{
				display:inline-block;
				width:28px;
				height:28px;
				line-height:28px;
				text-align:center;
				font-size:12px;
				border-radius:100%;
				background:rgba(0,0,0,0.1);
				position:relative;
				top:-2px;
				margin:0px 2px;
			}
		}
		a,a:hover,a:focus{
			color:#fff;
			text-decoration:none;
		}
	}
	.a-74-c{
		padding:20px;
		border:1px solid rgba(0,0,0,0.1);
		border-top:0px;
		background:#fff;
		p{
			font-size:14px;
			line-height:32px;
			margin-bottom:0px;
			color:#666;
		}
	}
}