@import (reference) "ashobiz.base.less"; 
.a-53-1{
	margin: 10px 0px;
	height: 7px;
	width: 100%;
	background: rgba(0,0,0,0.2);
	background-image: 
		repeating-linear-gradient(to right, @red, @red 40px, @green 0, @green 80px, @blue 0, @blue 120px, @yellow 0, @yellow 160px, @violet 0, @violet 200px, @lblue 0, @lblue 240px, @orange 0, @orange 280px, @rose 0, @rose 320px);
}
.a-53-2{
	margin: 10px 0px;
	height: 7px;
	width: 100%;
	background: rgba(0,0,0,0.2);
	background-image: 
		repeating-linear-gradient(45deg, @red, @red 40px, @green 0, @green 80px, @blue 0, @blue 120px, @yellow 0, @yellow 160px, @violet 0, @violet 200px, @lblue 0, @lblue 240px, @orange 0, @orange 280px, @rose 0, @rose 320px);
}
.a-53-3{
	margin: 10px 0px;
	height: 7px;
	width: 100%;
	background: rgba(0,0,0,0.2);
	background-image: 
		repeating-linear-gradient(-45deg, @red, @red 40px, @green 0, @green 80px, @blue 0, @blue 120px, @yellow 0, @yellow 160px, @violet 0, @violet 200px, @lblue 0, @lblue 240px, @orange 0, @orange 280px, @rose 0, @rose 320px);
} 
.a-53-4{
	margin: 10px 0px;
	height: 7px;
	width: 100%;
	background: rgba(0,0,0,0.2);
	background-image: 
		repeating-linear-gradient(to right, @red, @red 20px, @green 0, @green 40px, @blue 0, @blue 60px, @yellow 0, @yellow 80px, @violet 0, @violet 100px, @lblue 0, @lblue 120px, @orange 0, @orange 140px, @rose 0, @rose 160px);
}
.a-53-5{
	margin: 10px 0px;
	height: 7px;
	width: 100%;
	background: rgba(0,0,0,0.2);
	background-image: 
		repeating-linear-gradient(45deg, @red, @red 20px, @green 0, @green 40px, @blue 0, @blue 60px, @yellow 0, @yellow 80px, @violet 0, @violet 100px, @lblue 0, @lblue 120px, @orange 0, @orange 140px, @rose 0, @rose 160px);
}
.a-53-6{
	margin: 10px 0px;
	height: 7px;
	width: 100%;
	background: rgba(0,0,0,0.2);
	background-image: 
		repeating-linear-gradient(-45deg, @red, @red 20px, @green 0, @green 40px, @blue 0, @blue 60px, @yellow 0, @yellow 80px, @violet 0, @violet 100px, @lblue 0, @lblue 120px, @orange 0, @orange 140px, @rose 0, @rose 160px);
}
.a-53-7{
	margin: 10px 0px;
	height: 7px;
	width: 100%;
	background: rgba(0,0,0,0.2);
	background-image: 
		repeating-linear-gradient(to right, @red, @red 10px, @green 0, @green 20px, @blue 0, @blue 30px, @yellow 0, @yellow 40px, @violet 0, @violet 50px, @lblue 0, @lblue 60px, @orange 0, @orange 70px, @rose 0, @rose 80px);
}