@import (reference) "ashobiz.base.less";
/* A 19 */
.a-19{
	margin:20px 0px;
	max-width:550px;
	.a-19-m{
		padding:20px 30px;
		box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.06);
		position:relative;
		background:#fcfcfc;
		margin:0px;
		border-width:0px;
		border-top-width:2px;
		transition:1s;	
		&:hover{
			background:#fff;
			transition:1s;
		}
	}
	h2{
		font-size:20px;
		line-height:30px;
		font-weight:400;
		margin-top:10px;
		margin-bottom:5px;
		a{
			color:@black;
			&:hover{
				text-decoration:none;
			}
		}
		i{
			margin:0px 1px;
			font-size:13px;
			position:relative;
			top:-2px;
			color:@yellow;
		}
	}
	p{
		font-size:14px;
		line-height:28px;
		font-weight:600;
		color:rgba(0,0,0,0.35);
	}
	a.a-19-b{
		position:absolute;
		top:45px;
		right:40px;
		font-size:22px;
		line-height:22px;
		&:hover{
			color:@black;
			text-decoration:none;
		}
		@media (max-width:600px){
			position:static;
			display:inline-block;
			margin-top:5px;			
		}
	}
}