@import (reference) "ashobiz.base.less";
.a-181{
	margin: 15px 0px;
	h2{
		font-size: 40px;
		line-height: 50px;
		margin: 0px;
		font-weight: normal;
		margin-bottom: 12px;
		color: #444;
		@media (max-width: 550px){
			font-size: 25px;
			line-height: 35px;
		}
		a,a:hover,a:focus{
			color: #444;
			text-decoration: none;
		}
	}
	.a-181-b{
		height: 6px;
		border-top: 1px solid #ddd;
		margin-bottom: 5px;
		.clearfix;
		span{
			width: 50px;
			height: 100%;
			float: left;
			position: relative;
			top: -1px;
		}
	}
	p{
		color: #777;
		font-size: 16px;
		line-height: 32px;
		font-weight: normal;
		margin: 0;
		margin-top: 10px;
		@media (max-width: 550px){
			font-size: 14px;
			line-height: 28px;
		}
	}
}