@import (reference) "ashobiz.base.less";
.a-172{
	max-width: 270px;
	margin: 15px auto;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	padding: 25px;
	h2{
		margin: 0;
		background: #fff;
		padding: 15px 17px;
		color: #666;
		font-size: 18px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: 25px;
		box-shadow: 4px 4px 1px rgba(0,0,0,0.1);
		a,a:hover,a:focus{
			color: #666;
			text-decoration: none;
		}
	}
	ul{
		margin: 10px 10px 0px 10px;
		padding: 0;
		list-style-type: none;
		li{
			margin: 12px 0px;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
			transition: 0.7s;
			.transform(translateX(0px));
			a{
				color: rgba(255,255,255,0.7);
				transition: 0.7s;
				&:hover,&:focus{
					color: rgba(255,255,255,1);
					text-decoration: none;
				}
			}
			&.active{
				a{
					color: #fff;
				}
			}
			&:hover{
				.transform(translateX(5px));
			}
			&:before{
				content:"\f178";
				font-family: "FontAwesome";
				color: rgba(0,0,0,0.3);
				margin-right: 10px;
			}
		}
	}
}