@import (reference) "ashobiz.base.less";
@-webkit-keyframes a159{
	0%{
		.transform(rotate(0deg));
	}
	100%{
		.transform(rotate(359deg));
	}
}
@keyframes a159{
	0%{
		.transform(rotate(0deg));
	}
	100%{
		.transform(rotate(359deg));
	}
}
.a-159{
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	margin: 15px auto;
	text-align: center;
	vertical-align: middle;
	position: relative;
	color: #fff;
	text-shadow: 3px 3px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1), inset 0px 0px 50px rgba(0,0,0,0.15);
	&:after{
		width: 140px;
		height: 140px;
		position: absolute;
		top: 5px;
		left: 5px;
		content: "";
		background: transparent;
		border-radius: 50%;
		border: 2px dashed #fff;
	}
	&:hover:after,
	&:focus:after,
	&:active:after{
		-webkit-animation: a159 0.5s linear infinite;
		animation: a159 0.5s linear infinite;
	}
	&:hover,&:focus{
		color: #fff;
		text-decoration: none;
	}
	i{
		font-size: 40px;
		line-height: 50px;
		display: block;
		padding-top: 30px;
		margin-bottom: 5px;
	}
	span{
		font-weight: bold;
		text-transform: uppercase;
	}
}