@import (reference) "ashobiz.base.less";
/* A 28 */
.a-28{
	max-width:350px;
	margin:20px 0;
	border:1px solid #ddd;
	box-shadow:0px 0px 15px rgba(0,0,0,0.03);
	border-radius:5px;	
	background:#fff;
	h2{
		border-bottom:1px solid #e7e7e7;
		background:#fafafa;
		padding:15px 20px;
		border-top-left-radius:5px;	
		border-top-right-radius:5px;	
		font-size:13px;
		line-height:23px;
		margin:0px;
		text-transform:uppercase;
		color:#888;
		text-align:center;
	}
	ul{
		margin:0px;
		padding:0px;
		list-style-type:none;
		li{
			margin:0px;
			padding:7px 15px 12px 15px;
			border-bottom:1px solid #eee;
			position:relative;
			transition:0.7s;
			&:hover{
				background:#fcfcfc;
			}
			&:last-child{
				border:0px;
			}
			h3{
				margin:0px;
				font-size:14px;
				line-height:14px;
				color:#777;
				a,a:hover,a:focus{
					color:#777;
					text-decoration:none;
				}
				i{
					font-size:25px;
					width:30px;
					text-align:center;
					margin-right:10px;
					position:relative;
					top:11px;
					color:#777;
					display:inline-block;
				}
				span{
					display:block;
					color:#aaa;
					font-weight:normal;
					font-size:12px;
					margin-left:44px;
					margin-top:6px;
				}
			}
			.a-btn{
				position:absolute;
				top:17px;
				right:20px;
			}
		}
	}
	.a-28-f{
		border-top:1px solid #e7e7e7;
		background:#fafafa;
		padding:15px 20px;
		border-bottom-left-radius:5px;	
		border-bottom-right-radius:5px;
		color:#888;
		font-size:12px;
		.a-btn{
			margin:0px 2px;
		}
	}
}