@import (reference) "ashobiz.base.less";
/* A 71 */
.a-71{
	text-align:center;
	max-width:280px;
	margin:15px auto;
	.a-71-i{
		> a{
			display:inline-block;
			font-size:18px;
			line-height:30px;
			width:100%;
			max-width:60px;
			color:#fff;
			margin:10px 3px;
			padding:22px 5px;
			border-radius:3px;
			box-shadow:0px 3px 5px rgba(0,0,0,0.12);
			text-shadow:2px 2px 0px rgba(0,0,0,0.2);
			position:relative;
			.transform(translateY(0));
		    transition:all 0.7s;
			&:hover{
				.transform(translateY(-10px));
			}
		}
	}
	h3{
		font-size:18px; 
		line-height:28px;
		text-transform:uppercase;
		color:#666;
		border-bottom:1px dashed #eee;
		padding-bottom:10px;
		margin-bottom:10px;
		a,a:hover,a:focus{
			color:#666;
			text-decoration:none;
		}
	}
	p{
		color:#888;
	}
}