@import (reference) "ashobiz.base.less";
.a-131{
	max-width: 400px;
	margin: 15px auto;
	.clearfix;
	@media (max-width: 550px){
		text-align: center;
	}
	img{
		float: left;
		max-width: 60%;
		background: #fff;
		padding: 10px;
		box-shadow: 0px 0px 35px rgba(0,0,0,0.10), 0px 0px 0px 1px rgba(0,0,0,0.075);
		@media (max-width: 550px){
			max-width: 100%;
			float: none;
			margin: 0px auto;
		}
	}
	h3{
		margin-left: 65%;
		font-size: 22px;
		line-height: 35px;
		font-weight: normal;
		padding-top: 5%;
		color: #666;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 4px double #ddd;
		a,a:hover,a:focus{
			color: #444;
			text-decoration: none;
		}
		@media (max-width: 550px){
			margin-left: 0;
		}
	}
	p{
		margin-left: 65%;
		font-size: 15px;
		line-height: 30px;
		color: #666;
		@media (max-width: 550px){
			margin-left: 0;
		}		
	}
}