@import (reference) "ashobiz.base.less";
.a-154{
	max-width: 350px;
	margin: 15px auto;
	position: relative;
	transition: 0.25s;
	z-index: 2;
	img{
		position: relative;
		z-index: 3;
	}
	> div{
		position: absolute;
		transition: 0.25s;
		background: #222;
		.transform(translateY(-100%));
		z-index: 1;
		padding: 15px 7px 5px 7px;
		h3{
			margin: 0;
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 3px;
			color: #fff;
			font-weight: normal;
			a,a:hover,a:focus{
				color: #fff;
				text-decoration: none;
			}
		}
		p{
			margin: 0;
			color: rgba(255,255,255,0.5);
		}
	}
	&:hover,&:focus,&:active{
		box-shadow: 0px 0px 0px 10px #222;
		z-index: 4;
		> div{
			box-shadow: 0px 0px 0px 10px #222;
			.transform(translateY(0));
		}	
	}
}