@import (reference) "ashobiz.base.less";
.a-174{
	max-width: 270px;
	margin: 15px auto;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1), inset 0px 0px 100px rgba(0,0,0,0.025);
	padding: 20px;
	position: relative;
	overflow: hidden;
	&:before{
		position: absolute;
		left: 3px;
		right: 3px;
		top: 3px;
		bottom: 3px;
		content: " ";
		background: #fff;
	}
	&:after{
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		content: " ";
		background: inherit;
		transition: 0.3s;
		.transform(translateY(-150%));
	}
	> i{
		display: block;
		width: 70px;
		height: 70px;
		line-height: 70px;
		position: absolute;
		top: 0;
		left: 20px;
		color: #fff;
		font-size: 25px;
		text-align: center;
		transition: 0.3s;
		text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
	}
	h3{
		font-size: 20px;
		line-height: 1.5;
		position: relative;
		margin-top: 200px;
	}
	h4{
		position: absolute;
		width: 80%;
		bottom: 10%;
		left: 10%;
		transition: 0.5s;
		color: #fff;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		z-index: -1;
		opacity: 0;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		.transform(translateY(250%));
		a,a:hover,a:focus{
			color: #fff;
			text-decoration: none;
		}
	}
	&:hover,&:focus,&:active{
		i{
			z-index: 3;
			.transform(translateY(20px));
			font-size: 50px;
		}
		h4{
			.transform(translateY(0%));
			z-index: 3;
			opacity: 1;
		}
	}
	&:hover:after{
		.transform(translateY(0%));
	}
}