@import (reference) "ashobiz.base.less";
.a-113{
	text-align: center;
	display: inline-block;
	margin: 5px 2px;
	padding: 0;
	font-size: 20px;
	line-height: 70px;
	width: 70px;
	height: 70px;
	vertical-align: middle;
	border: 0;
	text-decoration: none;
	transition: 0.5s;
	border-radius: 0;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.2);	
	&.a-113-r{
		border-top-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
	&.a-113-l{
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;		
	}
}