.a-160 {
  padding: 30px 20px;
  width: 100%;
  border-top: 7px solid rgba(0, 0, 0, 0.15);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  color: #fff;
}
.a-160 .a-160-c {
  width: 33.333%;
  padding: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}
.a-160 .a-160-c:last-of-type {
  border-right: 0;
}
@media (max-width: 767px) {
  .a-160 .a-160-c {
    width: 50%;
  }
  .a-160 .a-160-c:nth-of-type(2) {
    border-right: 0;
  }
}
@media (max-width: 600px) {
  .a-160 .a-160-c {
    width: 100%;
    border-right: 0;
  }
}
.a-160 .a-160-c h2 {
  margin: 0;
  font-size: 30px;
  line-height: 45px;
  font-weight: lighter;
}
.a-160 .a-160-c p {
  font-size: 15px;
  line-height: 30px;
}
.a-160 .a-160-c a,
.a-160 .a-160-c a:hover,
.a-160 .a-160-c a:focus {
  color: #fff;
  text-decoration: none;
}
.a-160 .a-160-c .a-160-b {
  font-size: 16px;
  line-height: 32px;
  display: inline-block;
  margin-top: 20px;
  font-weight: normal;
  border-bottom: 1px dashed #fff;
}
.a-160 .a-160-c .a-160-b:hover {
  border-bottom: 0;
}
