/* A 40 */
.a-40 {
  max-width: 350px;
  height: 200px;
  margin: 15px auto;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}
.a-40 h3 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 22px;
  line-height: 22px;
  margin: 0px;
  color: #555;
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 15px;
}
.a-40 h3 a,
.a-40 h3 a:hover,
.a-40 h3 a:focus {
  color: #555;
  text-decoration: none;
}
.a-40 h3 span {
  display: block;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
}
.a-40 i {
  position: absolute;
  right: 20px;
  bottom: 50px;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  text-decoration: none;
  z-index: 5;
}
.a-40 h4 {
  position: absolute;
  right: 20px;
  bottom: 5px;
  z-index: 5;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.a-40 h4 a,
.a-40 h4 a:hover,
.a-40 h4 a:focus {
  color: #fff;
  text-decoration: none;
}
.a-40 .a-40-m {
  position: relative;
  width: 350px;
  height: 300px;
  right: -120px;
  top: -30px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
