.a-110 {
  margin: 15px 0px;
  position: relative;
  display: inline-block;
  left: 50%;
  font-size: 60px;
  line-height: 1.1;
  font-weight: lighter;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg) translateX(50%);
  -moz-transform: rotate(180deg) translateX(50%);
  -ms-transform: rotate(180deg) translateX(50%);
  transform: rotate(180deg) translateX(50%);
}
.a-110 span {
  display: block;
  font-weight: bold;
}
