/* List */
.a-84-1,
.a-84-2,
.a-84-3,
.a-84-4,
.a-84-5,
.a-84-6,
.a-84-7,
.a-84-8,
.a-84-9 {
  list-style-type: none;
  padding-left: 20px;
}
.a-84-1 li:before {
  content: "\f069";
  /* Asterisk */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -20px;
}
.a-84-2 li:before {
  content: "\f00c";
  /* Check */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -20px;
}
.a-84-3 li:before {
  content: "\f046";
  /* Check-Square-o */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -20px;
}
.a-84-4 li:before {
  content: "\f067";
  /* Plus */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -20px;
}
.a-84-5 li:before {
  content: "\f005";
  /* Star */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -20px;
}
.a-84-6 li:before {
  content: "\f101";
  /* Angle Double Right */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -20px;
}
.a-84-7 li:before {
  content: "\f0a4";
  /* hand-o-right */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -20px;
}
.a-84-8 li:before {
  content: "\f0da";
  /* caret-right */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -20px;
}
.a-84-9 li:before {
  content: "\f138";
  /* chevron-circle-right */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -20px;
}
