/* A 69 */
.a-69 {
  margin: 30px auto 15px auto;
  max-width: 270px;
  text-align: center;
  border-radius: 4px;
}
.a-69 .a-69-t {
  color: #fff;
  padding: 20px 15px 15px 15px;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: inset 0px 0px 22px rgba(0, 0, 0, 0.1);
}
.a-69 .a-69-t h3 {
  max-width: 180px;
  height: 60px;
  background: #fff;
  margin: 15px auto;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #666;
  font-size: 25px;
  line-height: 60px;
  font-weight: normal;
}
.a-69 .a-69-t h3 a,
.a-69 .a-69-t h3 a:hover,
.a-69 .a-69-t h3 a:focus {
  color: #666;
  text-decoration: none;
}
.a-69 .a-69-t h4 {
  position: absolute;
  top: -12px;
  left: 50%;
  margin: 0px;
  margin-left: -85px;
  width: 170px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 13px;
  line-height: 28px;
  background: #333;
  padding: 0px 15px;
  border-radius: 4px;
  text-transform: uppercase;
}
.a-69 .a-69-b {
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0;
  background: #fff;
  padding: 10px;
}
.a-69 .a-69-b:before,
.a-69 .a-69-b:after {
  content: " ";
  display: table;
}
.a-69 .a-69-b:after {
  clear: both;
}
.a-69 .a-69-b > div {
  float: left;
  width: 33.3333%;
  margin: 10px auto;
}
.a-69 .a-69-b > div a:hover,
.a-69 .a-69-b > div a:focus {
  text-decoration: none;
}
.a-69 .a-69-b > div i {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 100%;
  font-size: 20px;
  margin: 5px auto;
}
.a-69 .a-69-b > div h5 {
  font-size: 16px;
  line-height: 30px;
  margin: 5px 0;
  color: #555;
}
.a-69 .a-69-b > div h6 {
  margin: 0px;
  font-size: 12px;
  text-transform: uppercase;
  color: #888;
  font-weight: normal;
}
