.a-210 {
  max-width: 450px;
  margin: 15px auto;
  position: relative;
}
.a-210:before,
.a-210:after {
  content: " ";
  display: table;
}
.a-210:after {
  clear: both;
}
.a-210 .a-210-c {
  padding: 20px 35px 20px 25px;
  color: #fff;
  width: calc(100% - 110px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.075);
  float: left;
}
@media (max-width: 400px) {
  .a-210 .a-210-c {
    width: 100%;
    float: none;
  }
}
.a-210 .a-210-c h3 {
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
}
.a-210 .a-210-c p {
  font-size: 14px;
  line-height: 2.2;
  color: rgba(255, 255, 255, 0.8);
}
.a-210 .a-210-b {
  display: block;
  width: 110px;
  height: 110px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  float: right;
  position: relative;
  left: -20px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  padding: 15px;
  font-size: 13px;
  line-height: 2;
  font-weight: bold;
  padding-top: 35px;
  text-transform: uppercase;
  color: #555;
}
@media (max-width: 400px) {
  .a-210 .a-210-b {
    float: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    left: 25px;
    top: -20px;
  }
}
.a-210 .a-210-b i {
  display: block;
  font-size: 15px;
}
.a-210 .a-210-b:hover,
.a-210 .a-210-b:focus {
  color: #555;
  text-decoration: none;
}
