.a-198 {
  position: relative;
  overflow: hidden;
  max-width: 350px;
  margin: 15px auto;
  box-shadow: 0px 0px 0px 7px #ffffff, 0px 0px 0px 8px rgba(0, 0, 0, 0);
  transition: 0.5s;
}
.a-198 img {
  position: relative;
  transition: 0.5s;
}
.a-198 figcaption {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  background: #fff;
  padding: 15px 10px  12px 15px;
  color: #444;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.5s;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.a-198 figcaption span {
  position: absolute;
  right: 20px;
}
.a-198 figcaption a {
  color: #444;
  margin: 0px 5px;
}
.a-198 figcaption a:hover,
.a-198 figcaption a:focus {
  color: #777;
  text-decoration: none;
}
.a-198:hover {
  box-shadow: 0px 0px 0px 7px #ffffff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.a-198:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.a-198:hover figcaption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
