.a-102 {
  max-width: 300px;
  margin: 15px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.075);
  padding-top: 30px;
  text-align: center;
  background: #fff;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.a-102 h3 {
  color: #555;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}
.a-102 h3 i {
  font-size: 50px;
  line-height: 60px;
  display: block;
  margin-bottom: 10px;
}
.a-102 h3 a,
.a-102 h3 a:hover,
.a-102 h3 a:focus {
  color: #555;
  text-decoration: none;
}
.a-102 .a-102-btn {
  display: inline-block;
  margin: 125px 0px 20px 0px;
  position: relative;
  z-index: 5;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  padding: 4px 12px;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.a-102 .a-102-btn:hover,
.a-102 .a-102-btn:focus {
  background: rgba(0, 0, 0, 0.4);
}
.a-102 span {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  bottom: -160px;
  left: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.a-102 span:first-of-type {
  left: -40%;
  z-index: 3;
}
.a-102 span:nth-of-type(2) {
  left: 0%;
  z-index: 2;
}
.a-102 span:last-of-type {
  left: 40%;
  z-index: 3;
}
