/* Flash block */
.a-78 {
  display: block;
  position: relative;
  width: 280px;
  height: 140px;
  padding: 20px 0px;
  margin: 15px auto;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.a-78::before {
  content: "";
  position: absolute;
  width: 268px;
  height: 128px;
  top: 6px;
  left: 6px;
  z-index: 1000;
  border: 1px dashed rgba(255, 255, 255, 0.8);
}
.a-78 b {
  display: block;
  margin: 16px 0px;
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
}
.a-78 em {
  font-style: normal;
  display: block;
  margin: 0px;
  font-weight: bold;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
.a-78:hover,
.a-78:focus {
  text-decoration: none;
}
.a-78.a-bg-white {
  background: #fafafa !important;
}
.a-78.a-bg-white b {
  color: #777;
}
