.a-11 {
  max-width: 300px;
  margin: 15px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.a-11 h3 {
  font-size: 14px;
  background: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
  line-height: 4;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.a-11 > a {
  display: block;
  padding: 13px 20px;
  background: #fdfdfd;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.025);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  transition: 0.5s;
  position: relative;
}
.a-11 > a:hover,
.a-11 > a:focus {
  color: #444;
  text-decoration: none;
  background: #fbfbfb;
}
.a-11 > a:last-of-type {
  border-bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.a-11 > a > i {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #555;
  border-radius: 50%;
  color: #fff;
  margin-right: 5px;
}
.a-11 > a > span {
  position: absolute;
  right: 20px;
  display: block;
  background: rgba(0, 0, 0, 0.03);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.075);
  top: 15px;
  padding: 0px 8px;
  font-size: 13px;
  border-radius: 4px;
}
