.a-61 {
  max-width: 380px;
  margin: 15px auto;
  position: relative;
  padding: 35px;
  background: #fff;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06), 0px 0px 25px rgba(0, 0, 0, 0.075);
  -webkit-perspective: 700px;
  perspective: 700px;
}
.a-61 > span {
  position: absolute;
  width: 150%;
  height: 100%;
  display: block;
  top: 0;
  z-index: 1;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1), inset 0px 0px 100px rgba(0, 0, 0, 0.06);
}
.a-61 > span:first-of-type {
  left: 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-45deg) translateX(-50%) translateY(-25%);
  -moz-transform: rotate(-45deg) translateX(-50%) translateY(-25%);
  -ms-transform: rotate(-45deg) translateX(-50%) translateY(-25%);
  transform: rotate(-45deg) translateX(-50%) translateY(-25%);
}
.a-61 > span:last-of-type {
  right: 0;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(-45deg) translateX(50%) translateY(25%);
  -moz-transform: rotate(-45deg) translateX(50%) translateY(25%);
  -ms-transform: rotate(-45deg) translateX(50%) translateY(25%);
  transform: rotate(-45deg) translateX(50%) translateY(25%);
}
.a-61 .a-61-c {
  position: relative;
  z-index: 2;
  text-align: center;
}
.a-61 .a-61-c .a-61-f {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 4;
  transition: 0.5s;
  border-radius: 4px;
  background: #fff;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07), inset 0px 0px 100px rgba(0, 0, 0, 0.03);
}
.a-61 .a-61-c .a-61-f > h3 {
  display: inline-block;
  margin: 0;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  padding: 10px 0;
  font-weight: normal;
  color: #555;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.a-61 .a-61-c .a-61-b {
  position: relative;
  padding: 30px 20px;
  z-index: 3;
  border-radius: 4px;
  transition: 0.5s;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07), inset 0px 0px 100px rgba(0, 0, 0, 0.03);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.a-61 .a-61-c .a-61-b h3 {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 5px;
  color: #444;
}
.a-61 .a-61-c .a-61-b h3 a,
.a-61 .a-61-c .a-61-b h3 a:hover,
.a-61 .a-61-c .a-61-b h3 a:focus {
  color: #444;
  text-decoration: none;
}
.a-61 .a-61-c .a-61-b p {
  font-size: 14px;
  line-height: 2;
  color: #888;
  margin: 0;
}
.a-61:hover .a-61-f {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 3;
}
.a-61:hover .a-61-b {
  z-index: 4;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
