.a-37 {
  width: 100%;
  margin: 15px 0px;
  position: relative;
  background: #fff;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.a-37 > div {
  padding: 20px 20px;
  padding-top: 45px;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.05);
}
.a-37 > div h3 {
  display: inline-block;
  font-size: 13px;
  line-height: 2;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  padding: 6px 25px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
.a-37 > div a {
  display: block;
  font-size: 14px;
  list-style-type: 1.5;
  margin: 7px 0px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.a-37 > div a:before {
  content: "\f005";
  font-family: "FontAwesome";
  font-size: 8px;
  position: relative;
  text-shadow: none;
  color: rgba(0, 0, 0, 0.2);
  top: -2px;
  margin-right: 7px;
}
.a-37 > div a:hover,
.a-37 > div a:focus {
  color: #fff;
  text-decoration: none;
}
