.a-122 {
  max-width: 350px;
  margin: 15px auto 45px auto;
  position: relative;
}
.a-122 > div {
  background: #fff;
  padding: 30px;
  width: 100%;
  position: relative;
  top: 25px;
  left: 25px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
.a-122 > div h3 {
  font-size: 16px;
  line-height: 30px;
  margin-top: 0;
  color: #555;
  text-transform: uppercase;
}
.a-122 > div h3 a,
.a-122 > div h3 a:hover,
.a-122 > div h3 a:focus {
  color: #555;
  text-decoration: none;
}
.a-122 > div p {
  font-size: 14px;
  line-height: 28px;
  color: #999;
}
.a-122 > div .a-btn {
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  padding: 13px 15px;
  font-weight: bold;
}
