/* A 67 */
.a-67 {
  max-width: 280px;
  box-shadow: inset 0px 0px 300px rgba(0, 0, 0, 0.2);
  margin: 15px auto;
  text-align: center;
  padding: 45px 15px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.a-67 * {
  position: relative;
  z-index: 5;
}
.a-67:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0.075) 1px, transparent 0), linear-gradient(90deg, rgba(255, 255, 255, 0.075) 1px, transparent 0px);
  background-size: 10px 10px;
}
.a-67 > i {
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.a-67 h3 {
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  font-weight: normal;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  margin: 0px;
  margin-bottom: 20px;
  font-weight: bold;
}
.a-67 h3 a,
.a-67 h3 a:hover,
.a-67 h3 a:focus {
  color: #fff;
  text-decoration: none;
}
.a-67 .a-67-b {
  display: inline-block;
  border-radius: 4px;
  color: #555;
  background: transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  padding: 2px 12px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.a-67 .a-67-b:hover,
.a-67 .a-67-b:focus {
  color: #444;
  background: #fff;
  text-decoration: none;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
