.a-75 {
  margin: 15px auto;
  max-width: 350px;
  padding: 30px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.a-75:before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #fff;
  z-index: -1;
  border-radius: 20px;
}
.a-75 h3 {
  font-size: 16px;
  line-height: 2;
  color: #555;
  margin: 0;
}
.a-75 p {
  font-size: 14px;
  line-height: 2;
  color: #777;
  margin: 0;
}
