.a-52 {
  margin: 15px auto;
  width: 150px;
  height: 150px;
  background: #fafafa;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0px 0px 150px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
}
.a-52 > div {
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.a-52 > div > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.a-52 > div > span {
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
  text-align: center;
  color: #444;
  font-weight: bold;
  border-radius: 50%;
  font-size: 13px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 15px rgba(0, 0, 0, 0.1);
}
