.a-157 {
  padding: 35px 25px;
  margin: 15px auto;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.a-157:before,
.a-157:after {
  content: " ";
  display: table;
}
.a-157:after {
  clear: both;
}
.a-157 .a-157-p {
  width: 170px;
  float: left;
  text-align: center;
}
@media (max-width: 550px) {
  .a-157 .a-157-p {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
.a-157 .a-157-p h4 {
  margin: 0;
  font-size: 15px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
}
.a-157 .a-157-p h3 {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
}
.a-157 .a-157-p h3 span {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  margin: 0px 5px;
}
.a-157 .a-157-p h3 a,
.a-157 .a-157-p h3 a:hover,
.a-157 .a-157-p h3 a:focus {
  color: #fff;
  text-decoration: none;
}
.a-157 .a-157-f {
  margin-left: 190px;
  font-size: 15px;
  line-height: 30px;
}
@media (max-width: 550px) {
  .a-157 .a-157-f {
    margin-left: 0;
    text-align: center;
  }
}
