.a-153 {
  margin: 15px auto;
  max-width: 250px;
  border-radius: 50%;
  position: relative;
}
.a-153 img {
  border-radius: 50%;
  position: relative;
  transition: 0.5s;
  z-index: 2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(0%) rotate(0deg);
  -moz-transform: translateX(0%) rotate(0deg);
  -ms-transform: translateX(0%) rotate(0deg);
  transform: translateX(0%) rotate(0deg);
}
.a-153 > div {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  padding-top: 35%;
  transition: 0.5s;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 8px rgba(0, 0, 0, 0.05), inset -15px -15px 0px 1px rgba(0, 0, 0, 0.075), 0px 0px 15px rgba(0, 0, 0, 0.075);
}
.a-153 > div h3 {
  color: #fff;
  font-size: 25px;
  line-height: 1.8;
  font-weight: normal;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.a-153 > div h3 span {
  display: block;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
}
.a-153 > div h3 a,
.a-153 > div h3 a:hover,
.a-153 > div h3 a:focus {
  color: #fff;
  text-decoration: none;
}
.a-153:hover img,
.a-153:focus img,
.a-153:active img {
  z-index: 10;
  -webkit-transform: translateX(100%) rotate(180deg);
  -moz-transform: translateX(100%) rotate(180deg);
  -ms-transform: translateX(100%) rotate(180deg);
  transform: translateX(100%) rotate(180deg);
}
