.a-114 {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 5px 10px;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border: 0;
  border-radius: 0;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: none;
}
.a-114:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
