@-webkit-keyframes a17 {
  0% {
    color: #444;
    font-weight: normal;
    letter-spacing: -0.1em;
  }
  30% {
    color: #444;
    font-weight: normal;
  }
  35% {
    color: #444;
    font-weight: bold;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  40% {
    color: #f75353;
  }
  45% {
    color: #51d466;
  }
  50% {
    color: #fcd419;
    font-weight: bold;
    letter-spacing: 0.3em;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  55% {
    color: #cb79e6;
  }
  60% {
    color: #609cec;
  }
  65% {
    color: #444;
    font-weight: bold;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  70% {
    color: #444;
    font-weight: normal;
  }
  100% {
    color: #444;
    letter-spacing: -0.1em;
    font-weight: normal;
  }
}
@keyframes a17 {
  0% {
    color: #444;
    font-weight: normal;
    letter-spacing: -0.1em;
  }
  30% {
    color: #444;
    font-weight: normal;
  }
  35% {
    color: #444;
    font-weight: bold;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  40% {
    color: #f75353;
  }
  45% {
    color: #51d466;
  }
  50% {
    color: #fcd419;
    font-weight: bold;
    letter-spacing: 0.3em;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  55% {
    color: #cb79e6;
  }
  60% {
    color: #609cec;
  }
  65% {
    color: #444;
    font-weight: bold;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  70% {
    color: #444;
    font-weight: normal;
  }
  100% {
    color: #444;
    letter-spacing: -0.1em;
    font-weight: normal;
  }
}
.a-17 {
  text-align: center;
}
.a-17 > b {
  display: inline-block;
  position: relative;
  font-size: 30px;
  line-height: 1.5;
  -webkit-animation: a17 3s ease-out infinite;
  animation: a17 3s ease-out infinite;
}
.a-17 > b:first-of-type {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.a-17 > b:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.a-17 > b:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.a-17 > b:nth-of-type(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.2s;
}
.a-17 > b:nth-of-type(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.a-17 > b:nth-of-type(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.a-17 > b:last-of-type {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
