.a-136 {
  padding: 15px;
  margin: 15px 0px;
  border-radius: 5px;
  border-left-width: 5px;
  border-top-color: #e7e7e7 !important;
  border-right-color: #e7e7e7 !important;
  border-bottom-color: #e7e7e7 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.a-136 h3 {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
.a-136 p {
  margin-bottom: 5px;
  color: #888;
  font-size: 13px;
  line-height: 26px;
}
