.a-123 {
  max-width: 350px;
  margin: 15px auto;
  background: #fff;
  color: #555;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1), inset 0px 0px 30px rgba(0, 0, 0, 0.01);
  padding: 30px 30px 30px 80px;
  text-align: right;
  border-radius: 8px;
}
@media (max-width: 550px) {
  .a-123 {
    padding: 30px 30px 30px 60px;
  }
}
.a-123 > div {
  position: absolute;
  width: 250px;
  height: 150px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1), inset 0px 0px 30px rgba(0, 0, 0, 0.1);
  z-index: 5;
}
.a-123 > div:first-of-type {
  top: -75px;
  left: -125px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.a-123 > div:last-of-type {
  bottom: -75px;
  left: -125px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.a-123 h3 {
  position: relative;
  z-index: 10;
  font-size: 16px;
  line-height: 26px;
  color: #555;
  text-transform: uppercase;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
}
.a-123 h3 a,
.a-123 h3 a:hover,
.a-123 h3 a:focus {
  color: #555;
  text-decoration: none;
}
.a-123 p {
  position: relative;
  z-index: 10;
  color: #777;
}
