.a-7 {
  position: relative;
  z-index: 1;
  max-width: 350px;
  margin: 20px auto 40px auto;
  padding: 10px;
  padding-bottom: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.075);
}
@media (max-width: 500px) {
  .a-7 {
    padding: 20px;
  }
}
.a-7 .a-7-i {
  display: block;
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
  line-height: 100px;
  top: 20px;
  left: -30px;
  text-align: center;
  position: absolute;
  color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.075);
  z-index: 3;
}
@media (max-width: 500px) {
  .a-7 .a-7-i {
    position: relative;
    left: 0;
    top: 0;
    margin: 0px;
  }
}
.a-7 .a-7-i:hover,
.a-7 .a-7-i:focus {
  color: #fff;
  text-decoration: none;
}
.a-7 .a-7-c {
  padding: 20px 25px 20px 40px;
  position: relative;
  left: 35px;
  top: 30px;
  width: 100%;
  background: #fff;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.075);
}
@media (max-width: 500px) {
  .a-7 .a-7-c {
    padding: 20px 25px;
    top: 0;
    left: 0;
    border: 0;
  }
}
.a-7 .a-7-c h3 {
  color: #555;
  font-size: 18px;
  line-height: 28px;
}
.a-7 .a-7-c h3 a,
.a-7 .a-7-c h3 a:hover,
.a-7 .a-7-c h3 a:focus {
  color: #555;
  text-decoration: none;
}
.a-7 .a-7-c p {
  color: #777;
}
