.a-138 {
  max-width: 300px;
  margin: 15px auto;
  padding: 20px 25px;
  position: relative;
  text-align: center;
  box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.a-138 .a-138-t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.a-138 .a-138-t h4 {
  font-size: 13px;
  line-height: 50px;
  margin: 0;
  text-transform: uppercase;
}
.a-138 .a-138-t h4 a,
.a-138 .a-138-t h4 a:hover,
.a-138 .a-138-t h4 a:focus {
  color: #fff;
  text-decoration: none;
}
.a-138 h3 {
  margin-top: 50px;
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 20px;
  font-weight: lighter;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.a-138 .a-138-btn {
  display: inline-block;
  border: 2px solid #fff;
  padding: 2px 15px;
  border-radius: 25px;
  margin-bottom: 10px;
  color: #555;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;
  background: #fff;
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.a-138 .a-138-btn:hover,
.a-138 .a-138-btn:focus {
  background: #fff;
  color: #555;
  text-decoration: none;
  box-shadow: inset -2px -2px 1px rgba(0, 0, 0, 0.2);
}
