.a-53-1 {
  margin: 10px 0px;
  height: 7px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(to right, #f75353, #f75353 40px, #51d466 0, #51d466 80px, #609cec 0, #609cec 120px, #fcd419 0, #fcd419 160px, #cb79e6 0, #cb79e6 200px, #32c8de 0, #32c8de 240px, #f78153 0, #f78153 280px, #ff61e7 0, #ff61e7 320px);
}
.a-53-2 {
  margin: 10px 0px;
  height: 7px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(45deg, #f75353, #f75353 40px, #51d466 0, #51d466 80px, #609cec 0, #609cec 120px, #fcd419 0, #fcd419 160px, #cb79e6 0, #cb79e6 200px, #32c8de 0, #32c8de 240px, #f78153 0, #f78153 280px, #ff61e7 0, #ff61e7 320px);
}
.a-53-3 {
  margin: 10px 0px;
  height: 7px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(-45deg, #f75353, #f75353 40px, #51d466 0, #51d466 80px, #609cec 0, #609cec 120px, #fcd419 0, #fcd419 160px, #cb79e6 0, #cb79e6 200px, #32c8de 0, #32c8de 240px, #f78153 0, #f78153 280px, #ff61e7 0, #ff61e7 320px);
}
.a-53-4 {
  margin: 10px 0px;
  height: 7px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(to right, #f75353, #f75353 20px, #51d466 0, #51d466 40px, #609cec 0, #609cec 60px, #fcd419 0, #fcd419 80px, #cb79e6 0, #cb79e6 100px, #32c8de 0, #32c8de 120px, #f78153 0, #f78153 140px, #ff61e7 0, #ff61e7 160px);
}
.a-53-5 {
  margin: 10px 0px;
  height: 7px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(45deg, #f75353, #f75353 20px, #51d466 0, #51d466 40px, #609cec 0, #609cec 60px, #fcd419 0, #fcd419 80px, #cb79e6 0, #cb79e6 100px, #32c8de 0, #32c8de 120px, #f78153 0, #f78153 140px, #ff61e7 0, #ff61e7 160px);
}
.a-53-6 {
  margin: 10px 0px;
  height: 7px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(-45deg, #f75353, #f75353 20px, #51d466 0, #51d466 40px, #609cec 0, #609cec 60px, #fcd419 0, #fcd419 80px, #cb79e6 0, #cb79e6 100px, #32c8de 0, #32c8de 120px, #f78153 0, #f78153 140px, #ff61e7 0, #ff61e7 160px);
}
.a-53-7 {
  margin: 10px 0px;
  height: 7px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(to right, #f75353, #f75353 10px, #51d466 0, #51d466 20px, #609cec 0, #609cec 30px, #fcd419 0, #fcd419 40px, #cb79e6 0, #cb79e6 50px, #32c8de 0, #32c8de 60px, #f78153 0, #f78153 70px, #ff61e7 0, #ff61e7 80px);
}
