.a-112 {
  text-align: center;
  margin: 15px 0px;
  position: relative;
}
.a-112 > a {
  display: inline-block;
  width: 120px;
  height: 120px;
  position: relative;
  margin: 25px 20px;
  top: 0;
  color: #555;
}
.a-112 > a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.5s;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.a-112 > a span {
  font-size: 14px;
  line-height: 1.7;
  position: relative;
  margin-top: 17px;
  color: #444;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}
.a-112 > a span > span {
  display: block;
  margin-top: 0;
  color: #999;
  font-weight: normal;
  text-transform: none;
}
.a-112 > a:before {
  position: absolute;
  width: 80%;
  height: 5%;
  background: rgba(0, 0, 0, 0.075);
  content: "";
  left: 10%;
  border-radius: 100%;
  top: 103%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}
.a-112 > a:hover {
  color: #555;
  text-decoration: none;
}
.a-112 > a:hover img {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.a-112 > a:hover:before {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
