@-webkit-keyframes a591 {
  0% {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(111px);
    -moz-transform: translate(111px);
    -ms-transform: translate(111px);
    transform: translate(111px);
  }
  100% {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
  }
}
@keyframes a591 {
  0% {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(111px);
    -moz-transform: translate(111px);
    -ms-transform: translate(111px);
    transform: translate(111px);
  }
  100% {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
  }
}
.a-59 {
  width: 125px;
  height: 40px;
  margin: 20px auto;
  position: relative;
  background: transparent;
}
.a-59 span {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  top: 50%;
  margin-top: -7px;
  left: 0px;
}
.a-59 span:nth-child(1) {
  -webkit-animation: a591 2s 0s ease infinite;
  animation: a591 2s 0s ease infinite;
}
.a-59 span:nth-child(2) {
  -webkit-animation: a591 2.2s 0.2s ease infinite;
  animation: a591 2.2s 0.2s ease infinite;
}
.a-59 span:nth-child(3) {
  -webkit-animation: a591 2.4s 0.4s ease infinite;
  animation: a591 2.4s 0.4s ease infinite;
}
.a-59 span:nth-child(4) {
  -webkit-animation: a591 2.6s 0.6s ease infinite;
  animation: a591 2.6s 0.6s ease infinite;
}
.a-59 span:nth-child(5) {
  -webkit-animation: a591 2.8s 0.8s ease infinite;
  animation: a591 2.8s 0.8s ease infinite;
}
