/* A 66 */
.a-66 {
  background: #fff;
  border: 1px solid #eaeaea;
  margin: 20px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 4px;
}
.a-66 h3 {
  margin: 0px;
  font-size: 17px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f6f6f6;
  color: #666;
}
.a-66 h3 a,
.a-66 h3 a:hover,
.a-66 h3 a:focus {
  color: #666;
  text-decoration: none;
}
.a-66 .a-66-i {
  margin-top: 10px;
}
.a-66 .a-66-i:before,
.a-66 .a-66-i:after {
  content: " ";
  display: table;
}
.a-66 .a-66-i:after {
  clear: both;
}
.a-66 .a-66-i h4 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  color: #777;
  width: 170px;
  float: left;
  position: relative;
}
@media (max-width: 500px) {
  .a-66 .a-66-i h4 {
    font-size: 14px;
    width: 130px;
  }
}
.a-66 .a-66-i h4 span {
  margin-right: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #888;
  display: inline-block;
  width: 45px;
  text-align: center;
}
@media (max-width: 500px) {
  .a-66 .a-66-i h4 span {
    font-size: 12px;
    width: 35px;
  }
}
.a-66 .a-66-i h4 i {
  margin-left: 3px;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 3px;
}
.a-66 .a-66-i .a-66-b {
  margin: 35px 0px 20px 0px;
  height: 9px;
  background: #fafafa;
  border-radius: 4px;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: 175px;
  margin-top: 7px;
}
@media (max-width: 500px) {
  .a-66 .a-66-i .a-66-b {
    margin-left: 140px;
  }
}
.a-66 .a-66-i .a-66-b .a-66-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 100%;
  text-align: right;
}
