.a-125 {
  margin: 15px auto;
  width: 250px;
  height: 250px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 700px;
  perspective: 700px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
}
.a-125 .a-125-f {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  border-radius: 50%;
  background: #fff;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  transition: 0.7s ease-out;
  cursor: pointer;
  border: 2px solid #fff;
}
.a-125 .a-125-f img {
  border-radius: 50%;
}
.a-125:hover .a-125-f {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.a-125 .a-125-b {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 25px;
  padding-top: 20%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.04);
}
.a-125 h3 {
  margin: 0px;
  font-size: 16px;
  line-height: 2;
  text-transform: uppercase;
  color: #555;
}
.a-125 p {
  margin: 0px;
  font-size: 13px;
  line-height: 2;
  color: #888;
  margin-bottom: 10px;
}
.a-125 .a-btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}
