.a-150 {
  position: relative;
  max-width: 350px;
  margin: 15px auto 45px auto;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.a-150 > div {
  position: relative;
  top: 15px;
  right: 15px;
  padding: 30px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.a-150 > div h3 {
  font-weight: lighter;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
  color: #fff;
  padding-bottom: 15px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.05);
}
.a-150 > div p {
  margin: 15px 0px 25px 0px;
  color: #fff;
  font-size: 15px;
  line-height: 35px;
}
.a-150 > div .a-150-b {
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  padding: 2px 0px;
  border-radius: 4px;
  background: #fff;
  color: #444;
  text-align: center;
  line-height: 50px;
}
.a-150 > div .a-150-b:hover,
.a-150 > div .a-150-b:focus {
  color: #444;
  text-decoration: none;
  background: #fff;
}
