

@model Cooperchip.ITDeveloper.Mvc.Extentions.ViewComponents.Helpers.Modulo

<div id="page-header" class="clearfix">
    <div class="page-header">
        <h2>@Model.Titulo</h2>
        <span class="txt">@Model.Subtitulo</span>
    </div>
    <div class="header-stats">
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Prontuário</div>
            <div id="spark-visitors" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Evolução</div>
            <div id="spark-templateviews" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Transferências</div>
            <div id="spark-sales" class="sparkline"></div>
        </div>
    </div>
</div>
