


<!doctype html>

<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - EAD - ITDeveloper</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="application-name" content="" />
    <!-- Import google fonts - Heading first/ text second -->
    @*<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>*@

    @* ======================================================== *@

    <!-- Css files -->
    <!-- Icons -->
    <link href="~/bundle/core.min.css" rel="stylesheet" />

    @* ======================================================== *@


    <!-- Css files -->
    <!-- ESTILOS PERSONALIZADOS Carlos /-->
    <link href="/css/cooperchip/notes.css" rel="stylesheet" />

    <!-- INI - ESTILOS GRÁFICOS MORRIS Carlos /-->
    <link href="/Content/morris.css" rel="stylesheet" />

    <link href="/Content/css/select2.css" rel="stylesheet" />
    <link href="/Content/css/select2-bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-tagsinput.css" rel="stylesheet" />
    @* Adaptado por Carlos de make-Admin *@
    <link href="/Content/cooperchip/styleCooperchip.css" rel="stylesheet" />


    <!--/ Carlos BoxInit  -->
    <link href="/Scripts/cooperchip/boxinit/css/style.css" rel="stylesheet" />

    @* Carlos *@
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <link href="/css/icons.css" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="/css/bootstrap-evolumed.css" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="/css/plugins.css" rel="stylesheet" />

    <link href="/css/main.css" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="/css/custom.css" rel="stylesheet" />

    <!--/ CSS da tabela nova -->
    <link href="/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="/Content/dataTables.tableTools.css" rel="stylesheet" />


    <script src="/Scripts/cooperchip/modernizr-custom.js"></script>



</head>

<body>

    @await Html.PartialAsync("PartialViews/_navbar")


    <!-- #wrapper -->
    <div id="wrapper">
        <!-- .page-sidebar -->
        <aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
            <div class="sidebar-inner">
                <div class="sidebar-scrollarea">


                    @await Html.PartialAsync("PartialViews/_profile_left_sidebar")

                    <div class="sidebar-panel">
                        <h5 class="sidebar-panel-title">Navigation</h5>
                    </div>

                    <div class="side-nav">
                        <ul class="nav">

                            @* LIs com os lefts menus *@

                            @await Html.PartialAsync("PartialViews/_lis_do_menu_left")

                        </ul>
                    </div>
                    <!-- / side-nav -->

                    @await Html.PartialAsync("PartialViews/_menu_inferior_left")

                </div>
            </div>
            <!-- End .sidebar-scrollarea -->

        </aside>
        <!-- / page-sidebar -->

        @await Html.PartialAsync("PartialViews/_rightsidebar")

        <!-- .page-content -->
        <div class="page-content sidebar-page right-sidebar-page clearfix">
            <div class="page-content-wrapper">
                <div class="page-content-inner">

                    @RenderBody()

                </div>
            </div>
        </div>



    </div>
    <!-- / #wrapper -->


    @await Html.PartialAsync("PartialViews/_footer")


    <!-- Back to top -->
    <div id="back-to-top">
        <a href="#">Voltar para o Topo</a>
    </div>

    @await Html.PartialAsync("PartialViews/_scripts")

    @RenderSection("scripts", required: false)

</body>
</html>
