@{
    ViewData["Title"] = "Medical Management Sys - Upload and Save Csv Cid";
}

<div class="row" style="margin-top: 12px;">
    <div class="col-lg-12">
        <p>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default" })</p>

        <div class="animated fadeInRightBig">
            <div class="panel panel-primary toggle">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-magic"></i> @ViewData["Title"]</h4>
                </div>
                <div class="panel-body">

                    <form asp-controller="Cid" asp-action="ImportCid" name="ImportCid" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="custon-file">
                                <input type="file" name="file" class="custom-file" id="csvupload" />
                                <label data-browse="Procurar" style="width:400px" class="custom-file-label" for="csvupload"></label>
                                <label style="display:none" id="imd_none"></label>
                            </div>
                            <input type="submit" name="submit" id="submitCid" value="Carregar..." class="btn btn-info" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/bundle/dashboard.min.js"></script>
}

