@page
@model ConfirmarEmailLoginModel

@{
    ViewData["Title"] = "Confirmação de Conta, via Email";
}


<h2>@ViewData["Title"]</h2>
<h4>Informe seu Email</h4>
<hr />

<partial name="Manage/_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="confirmaEmail-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Enviar Confirmação de Email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>


            @*<button type="submit" class="btn btn-default">Save</button>*@
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}