@{
    ViewData["Title"] = "Auditoria do Sistema";
}

<partial name="PartialViews/_estado_paciente" />

<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Auditoria do Sistema</h3>
    </div>

    <div class="panel panel-body">

        <h3 class="text-danger">LOGGING...: Um erro inesperado ocorreu. Contate o Administrador!</h3>

    </div>
</div>