
@{
    ViewData["Title"] = "Checkout";
}

<div class="container-fluid col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="panel panel-heading">
            <h3>Formulário de Checkout</h3>
        </div>
        <div class="panel panel-body">
            <p>@ViewData["semerro"]</p>
            <hr />
            @Html.ValidationSummary(false, "", new {@class = "text-danger"})
        </div>
    </div>
</div>

